<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Danh Sách Từ Vựng</title>
    <link rel="icon" href="/static/images/favicon.png">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <!-- Animate CSS -->
        <link rel="stylesheet" href="/static/css/animate.css">
        <!-- Owl Carousel CSS -->
        <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
        <!-- Themify Icons -->
        <link rel="stylesheet" href="/static/css/themify-icons.css">
        <!-- Flaticon CSS -->
        <link rel="stylesheet" href="/static/css/flaticon.css">
        <!-- Font Awesome CSS -->
        <link rel="stylesheet" href="/static/css/magnific-popup.css">
        <!-- Swiper CSS -->
        <link rel="stylesheet" href="/static/css/slick.css">

        <!-- Custom Styles -->
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/main.css">
        
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/flashcard_list.css"
    />
  </head>

  <body>
    <%- include('../partials/menu.ejs') %>
    <div class="container flashcard-container">
      <div class="custom-container d-flex justify-content-center my-4">
        <div class="content">
          <div class="row align-items-center">
            <div class="col-md-8">
              <h2 class="my-4">Flashcards: <%= flashcardList.name %></h2>
            </div>
            <div class="mb-3" hidden>
              <input type="text" id="flashcard-list-id" value="<%= flashcardList._id %>">
            </div>
            <div class="col-md-4 d-flex justify-content-end">
              <div class="d-flex">
                <button class="btn btn-primary mx-2 flashcard-list-action-btn" data-bs-toggle="modal" data-bs-target="#editFlashcardListModal">
                  Chỉnh sửa
                </button>
                <button class="btn btn-primary mx-2 flashcard-list-action-btn" data-bs-toggle="modal" data-bs-target="#addFlashcardModal">
                  Thêm từ mới
                </button>
                <button class="btn btn-danger mx-2 flashcard-list-action-btn" id="delete-flashcardlist-btn" data-id="<%= flashcardList._id %>">
                  Xoá
                </button>
              </div>
            </div>
          </div>
  
          <div class="alert alert-success" style="margin: 10px 0 20px 0;">
            Chú ý: nếu như list từ vựng của bạn là tiếng Trung, Nhật, hay Hàn,
            click vào nút chỉnh sửa để thay đổi ngôn ngữ. Audio mặc định là tiếng
            Anh-Anh và Anh-Mỹ. Các ngôn ngữ khác chỉ hỗ trợ trên máy tính.
          </div>
          <p>Mô tả: <%= flashcardList.description %></p>
          <a class="btn btn-outline-success btn-lg btn-block mb-4 w-100" href="/flashcards/flashcardlist/<%= flashcardList._id %>/review">Luyện tập flashcards</a>
        </div>
      </div>
  
      <div class="custom-container mt-4">
        <div class="row">
          <div class="col-12">
            <div class="d-flex justify-content-center align-items-center mb-4">
              <h3>DANH SÁCH TỪ VỰNG</h3>
            </div>            
            <% flashcards.forEach(flashcard => { %>
              <div class="flashcard-item row">
                <div class="col-md-7">
                  <h5>
                    <%= flashcard.word %>
                    <em class="pronunciation">(<%= flashcard.pronunciation %>)</em>
                    <span class="audio-icons">
                      <i class="bi bi-volume-up" onclick="speakWord('<%= flashcard.word %>')" style="border: 1px solid #ddd; padding: 3px 5px; border-radius: 5px; font-size: 17px;""></i>
                    </span>                    
                  </h5>  
                  <p class="definition">
                    <strong>Định nghĩa:</strong>
                    <%= flashcard.meaning %>
                  </p>
                  <p class="example">
                    <strong>Ví dụ:</strong>
                    <%= flashcard.exampleSentence %>
                  </p>
                </div>
      
                <div class="col-md-5 text-center">
                  <% if (flashcard.image) { %>
                    <div class="flashcard-image mb-2">
                      <img src="data:image/jpeg;base64,<%= flashcard.image %>" alt="<%= flashcard.word %>" width="130px">
                    </div>
                  <% } %>
                  <div class="actions">
                    <button href="#" class="btn btn-light update-flashcard-btn mb-2" data-flashcard-id="<%= flashcard._id %>" data-bs-toggle="modal" data-bs-target="#editFlashcardModal-<%= flashcard._id %>">
                      <i class="bi bi-pencil-square"></i>
                    </button>
                    <button type="button" class="btn delete-flashcard-btn delete-icon" data-flashcard-id="<%= flashcard._id %>" id="delete-flashcard-btn">
                      <i class="bi bi-trash"></i>
                    </button>
                  </div>
                </div>
      
                <!-- Modal chỉnh sửa -->
                <div class="modal fade" id="editFlashcardModal-<%= flashcard._id %>" tabindex="-1" aria-labelledby="editFlashcardModalLabel-<%= flashcard._id %>" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="editFlashcardModalLabel-<%= flashcard._id %>">
                          Chỉnh sửa từ vựng
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                          <i class="bi bi-x-lg"></i>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form id="editFlashcardForm-<%= flashcard._id %>" class="edit-flashcard-form" enctype="multipart/form-data" data-flashcard-id="<%= flashcard._id %>">
                          <div class="mb-3">
                            <label for="word-<%= flashcard._id %>" class="form-label">Từ vựng</label>
                            <input type="text" class="form-control" id="word-<%= flashcard._id %>" value="<%= flashcard.word %>" required />
                          </div>
                          <div class="mb-3">
                            <label for="meaning-<%= flashcard._id %>" class="form-label">Định nghĩa</label>
                            <input type="text" class="form-control" id="meaning-<%= flashcard._id %>" value="<%= flashcard.meaning %>" required />
                          </div>
                          <div class="mb-3">
                            <label for="pos-<%= flashcard._id %>" class="form-label">Từ loại</label>
                            <input type="text" class="form-control" id="pos-<%= flashcard._id %>" value="<%= flashcard.pos %>" />
                          </div>
                          <div class="mb-3">
                            <label for="pronunciation-<%= flashcard._id %>" class="form-label">Phát âm</label>
                            <input type="text" class="form-control" id="pronunciation-<%= flashcard._id %>" value="<%= flashcard.pronunciation %>" />
                          </div>
                          <div class="mb-3">
                            <label for="exampleSentence-<%= flashcard._id %>" class="form-label">Ví dụ</label>
                            <textarea class="form-control" id="exampleSentence-<%= flashcard._id %>" rows="4" maxlength="500"><%= flashcard.exampleSentence %></textarea>
                          </div>
                          <div class="mb-3">
                            <label for="image-<%= flashcard._id %>" class="form-label">Hình ảnh</label>
                            <% if (flashcard.image) { %>
                              <img src="data:image/jpeg;base64,<%= flashcard.image %>" alt="<%= flashcard.word %>" style="width: 130px; height: auto; border-radius: 5px; margin-bottom: 10px;" />
                              <input type="hidden" id="current-image-<%= flashcard._id %>" value="<%= flashcard.image %>" />
                            <% } %>
                            <input type="file" class="form-control" id="image-<%= flashcard._id %>" name="image" accept="image/*" />
                          </div>                                                    
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                          Đóng
                        </button>
                        <button type="button" class="btn btn-primary" onclick="saveFlashcard('<%= flashcard._id %>')">
                          Lưu
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% }) %>            
            <% if (flashcards.length === 0) { %>
              <p>Không có flashcards nào trong danh sách này.</p>
            <% } %>
            <div class="pagination-container mt-4">
              <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                  <% if (currentPage > 1) { %>
                    <li class="page-item">
                      <a class="page-link" href="/flashcards/flashcardlist/<%= flashcardList._id %>?page=<%= currentPage - 1 %>&limit=<%= limit %>"> << </a>
                    </li>
                  <% } %>
                  <% for (let i = 1; i <= totalPages; i++) { %>
                    <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                      <a class="page-link" href="/flashcards/flashcardlist/<%= flashcardList._id %>?page=<%= i %>&limit=<%= limit %>"><%= i %></a>
                    </li>
                  <% } %>
                  <% if (currentPage < totalPages) { %>
                    <li class="page-item">
                      <a class="page-link" href="/flashcards/flashcardlist/<%= flashcardList._id %>?page=<%= currentPage + 1 %>&limit=<%= limit %>"> >> </a>
                    </li>
                  <% } %>
                </ul>
              </nav>
            </div>            
          </div>
        </div>
      </div>      
      <div class="modal fade" id="addFlashcardModal" tabindex="-1" aria-labelledby="addFlashcardModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addFlashcardModalLabel">Thêm từ vựng mới</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <i class="bi bi-x-lg"></i>
              </button>
            </div>
            <div class="modal-body">
              <form id="newFlashcardForm">
                <div class="mb-3">
                  <label for="word" class="form-label">Từ vựng</label>
                  <input type="text" class="form-control" id="word" required />
                </div>
                <div class="mb-3">
                  <label for="meaning" class="form-label">Định nghĩa</label>
                  <input type="text" class="form-control" id="meaning" required />
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label for="pos" class="form-label">Từ loại</label>
                      <input type="text" class="form-control" id="pos" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-3">
                      <label for="pronunciation" class="form-label">Phát âm</label>
                      <input type="text" class="form-control" id="pronunciation"/>
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="exampleSentence" class="form-label">Ví dụ</label>
                  <textarea class="form-control" id="exampleSentence" rows="4" maxlength="500" placeholder="Thêm ví dụ" required></textarea>
                </div>
                <div class="mb-3">
                  <label for="image" class="form-label"><i class="bi bi-card-image"></i> Hình ảnh (tuỳ chọn)</label>
                  <input type="file" class="form-control" id="image" accept="image/*" />
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Đóng
              </button>
              <button type="submit" class="btn btn-primary" form="newFlashcardForm">
                Lưu
              </button>
            </div>
          </div>
        </div>
      </div>
  
      <div class="modal fade" id="editFlashcardListModal" tabindex="-1" aria-labelledby="editFlashcardListModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editFlashcardListModalLabel">
                Chỉnh sửa danh sách flashcards
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <i class="bi bi-x-lg"></i>
              </button>
            </div>
            <div class="modal-body">
              <form id="editFlashCardListForm">
                <div class="mb-3">
                  <label for="name" class="form-label">Tên</label>
                  <input type="text" class="form-control" id="name" required value="<%= flashcardList.name %>"/>
                </div>
                <div class="mb-3">
                  <label for="description" class="form-label">Mô tả</label>
                  <input type="text" class="form-control" id="description" required value="<%= flashcardList.description %>"/>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Đóng
              </button>
              <button type="submit" class="btn btn-primary" form="editFlashCardListForm">
                Lưu
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../partials/footer.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/jquery-1.12.1.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.magnific-popup.js"></script>
    <script src="/static/js/swiper.min.js"></script>
    <script src="/static/js/masonry.pkgd.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/jquery.nice-select.min.js"></script>
    <script src="/static/js/slick.min.js"></script>
    <script src="/static/js/jquery.counterup.min.js"></script>
    <script src="/static/js/waypoints.min.js"></script>
    <script src="/static/js/custom.js"></script>
    <script>
      const flashcardListId = document.getElementById('flashcard-list-id').value;

      document.getElementById('newFlashcardForm').addEventListener('submit', function (event) {
          event.preventDefault();

          const formData = new FormData();
          formData.append('word', document.getElementById('word').value);
          formData.append('meaning', document.getElementById('meaning').value);
          formData.append('pos', document.getElementById('pos').value);
          formData.append('pronunciation', document.getElementById('pronunciation').value);
          formData.append('exampleSentence', document.getElementById('exampleSentence').value);

          const imageInput = document.getElementById('image');
          if (imageInput.files.length > 0) {
              formData.append('image', imageInput.files[0]);
          }

          fetch(`/flashcards/flashcardlist/${flashcardListId}`, {
              method: 'POST',
              body: formData,
          })
              .then((response) => response.json())
              .then((data) => {
                  if (data.success) {
                      alert('Từ mới đã được thêm thành công!');
                      location.reload();
                  } else {
                      alert('Có lỗi xảy ra: ' + data.message);
                  }
              })
              .catch((error) => {
                  console.error('Error:', error);
              });
      });

      function speakWord(word) {
        if ('speechSynthesis' in window) {
          const utterance = new SpeechSynthesisUtterance(word);
          utterance.lang = 'en-US';
          utterance.rate = 1;
          speechSynthesis.speak(utterance);
        } else {
          alert('Trình duyệt của bạn không hỗ trợ tính năng phát âm!');
        }
      }

      document.addEventListener("DOMContentLoaded", () => {
        const paginationLinks = document.querySelectorAll(".pagination .page-link");

        paginationLinks.forEach((link) => {
          link.addEventListener("click", (event) => {
            event.preventDefault();
            const url = event.target.href;

            fetch(url)
              .then((response) => response.text())
              .then((html) => {
                const parser = new DOMParser();
                const doc = parser.parseFromString(html, "text/html");
                const flashcardsContainer = doc.querySelector(".flashcard-container").innerHTML;

                document.querySelector(".flashcard-container").innerHTML = flashcardsContainer;
                window.history.pushState({}, "", url);
              })
              .catch((error) => console.error("Error loading flashcards:", error));
          });
        });
      });

      document.querySelector('#delete-flashcardlist-btn').addEventListener('click', function () {
        const flashcardListId = this.getAttribute('data-id');

        if (confirm('Bạn có chắc chắn muốn xóa danh sách từ này không?')) {
          fetch(`/flashcards/${flashcardListId}`, {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json',
            },
          })
            .then(response => response.json())
            .then(data => {
              if (data.success) {
                alert('Danh sách từ đã bị xóa');
                window.location.href = '/flashcards';
              } else {
                alert('Xóa thất bại: ' + data.message);
              }
            })
            .catch(error => {
              console.error('Error:', error);
            });
        }
      });

      document.getElementById('editFlashCardListForm').addEventListener('submit', function (event) {
        event.preventDefault();

        const flashcardListId = document.getElementById('flashcard-list-id').value;
        const name = document.getElementById('name').value;
        const description = document.getElementById('description').value;

        fetch(`/flashcards/flashcardlist/${flashcardListId}`, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            name,
            description,
          }),
        })
          .then(response => response.json())
          .then(data => {
            if (data.success) {
              alert('Cập nhật danh sách từ thành công!');
              location.reload();
            } else {
              alert('Cập nhật thất bại: ' + data.message);
            }
          })
          .catch(error => {
            console.error('Error:', error);
          });
      });
      document.querySelectorAll('#delete-flashcard-btn').forEach(button => {
        button.addEventListener('click', function () {
          const flashcardId = this.getAttribute('data-flashcard-id');

          if (confirm('Bạn có chắc chắn muốn xóa flashcard này không?')) {
            fetch(`/flashcards/delete-flashcard/${flashcardId}`, {
              method: 'DELETE',
              headers: {
                'Content-Type': 'application/json',
              },
            })
              .then(response => response.json())
              .then(data => {
                if (data.success) {
                  alert('Flashcard đã bị xóa thành công!');
                  location.reload();
                } else {
                  alert('Xóa thất bại: ' + data.message);
                }
              })
              .catch(error => {
                console.error('Error:', error);
              });
          }
        });
      });

      function saveFlashcard(flashcardId) {
        const form = document.getElementById(`editFlashcardForm-${flashcardId}`);
        const formData = new FormData(form);
        formData.append("word", document.getElementById(`word-${flashcardId}`).value);
        formData.append("meaning", document.getElementById(`meaning-${flashcardId}`).value);
        formData.append("pos", document.getElementById(`pos-${flashcardId}`).value);
        formData.append("pronunciation", document.getElementById(`pronunciation-${flashcardId}`).value);
        formData.append("exampleSentence", document.getElementById(`exampleSentence-${flashcardId}`).value);

        const currentImageElement = document.getElementById(`current-image-${flashcardId}`);
        if (currentImageElement) {
            const currentImage = currentImageElement.value;
            if (currentImage) {
                formData.append("image", currentImage);
            }
        }
        fetch(`/flashcards/update-flashcard/${flashcardId}`, {
            method: "PUT",
            body: formData,
        })
            .then((response) => response.json())
            .then((data) => {
                if (data.success) {
                    alert("Flashcard đã được cập nhật thành công.");
                    location.reload();
                } else {
                    alert("Đã có lỗi xảy ra khi cập nhật flashcard.");
                }
            })
            .catch((error) => {
                console.error("Error:", error);
            });
      }
    </script>
  </body>
</html>